<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
	</head>
	<body>
		<h1>Configuration de l'ia</h1>
        Il/Elle peut être configurée comme ici : <br>
        * You are a helpful assistant;<br>

        <br>
        <form action="/changesys" method="POST">
				<label form="description">Rôle de l'ia :</label>
				<input type="text" id="description" name="description">
				<button type="submit" class=cv_btn>Envoyé</button>

			</form>
	</body>
</html>